  /* banner */
.banner{
	height:5.44rem;
	width:100%;
	background:url(../img/banner_fx.png) no-repeat;
	background-size:100% 5.44rem;
	margin-bottom:0.293rem;
}
  /*内容 */
  
  /*内容标题 */
.content h2{   
	font-size:0.64rem;
	text-align:center;
	line-height:1.66rem;
	color:#333;
}
.con_text{   /*内容文本 */
	text-indent:2em;
	line-height:.53rem;
	text-align:justify;
	padding:0.25rem .946rem 1.36rem;
	font-size:.34rem;
	color:#666;
}
/*功能介绍图片 */
.inTroBj{   
	margin:0 auto 1.24rem;
	width:76%;
	height:4.8rem;
	background-size:cover;
}
.inTroBj img{
	width:100%;
	height:4.8rem;
}
 /*架构介绍图片 */
.jiaGouBj{
	width:8.08rem;
	margin:0 auto 1.02rem;
	height:4.94rem;
	background:url(../img/fx_jiaGouBj.jpg) no-repeat;
	background-size:cover;
}
.jiaGouBj img{
	width:100%;
	height:4.94rem;
}
/*图文列表 */
.img_text_List{ 
	padding: 0 .45rem;
}
.img_text_List ul{ 
	display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.img_text_List li{
	width:3.73rem;
	color:#333;
	border-radius:7px;
	min-height: 3.73rem;
	float:left;
	text-align:center;
	margin:.4rem;
	background:#f2f2f2;
}
.img_text_List.pin li{
	min-height: 4.23rem;
}    
.img_text_List li span{/*图文列表的小图标 */
	width:1.09rem;
	margin:.44rem 0 .26rem ;
	display:inline-block;
	text-align:center;
	height:0.93rem;
	background-size:contain;
	background-repeat: no-repeat;
}
.img_text_List li span img{
    width: auto;
    height: 0.93rem;
    display: inline-block;
}
/*---
.img_text_List li span.fast{
	background-image:url(../img/tex_ListFast.png);
}
.img_text_List li span.mobile{
	background-image:url(../img/tex_ListMobile.png);
}
.img_text_List li span.yingXiao{
	background-image:url(../img/tex_ListYXiao.png);
}
.img_text_List li span.daiLi{
	background-image:url(../img/tex_ListDaiLi.png);
}---*/

.img_text_List li .title{/*图文列表小标题 */
	line-height:.7rem;
	font-size:.32rem;
}

.img_text_List li P{/*图文列表内容文本 */
	font-size: .26rem;
    -webkit-line-clamp: 3;
    line-height: .453rem;
	padding: 0 .21rem .1rem;
    text-align: justify;
}

/*icon列表 */
.icon_list ul{
	padding:0.49rem .8rem 1.08rem;
	display:flex;
	flex-flow:row nowrap ;
	justify-content:space-around;
}
.icon_list li{  
	text-align:center;
	width:.97rem;
	float:left;
	margin:0 .333rem;
}
.icon_list li .title{ /*icon列表小标题 */
	font-size:.32rem;
	color:#333;
	line-height:.54rem;
}

.icon_list li span{ /*icon列表小图标 */
	display:inline-block;
	width:.97rem;
	height:.97rem;
	background-size:cover;
	background-repeat:no-repeat;
}
 /*分销系统页面的icon列表小图标 */
.icon_list li span.pc{
	background-image:url(../img/pc.png);
}
.icon_list li span.app{
	background-image:url(../img/app.png);
}
.icon_list li span.moblie{
	background-image:url(../img/moblie.png);
}
.icon_list li span.shopManage{
	background-image:url(../img/shopManage.png);
}
.icon_list li span.daiLi{
	background-image:url(../img/daiLi.png);
}

 /*优势文本 */
.youShiCon{
	padding:0.21rem .8rem 0.21rem;
	font-size:.37rem;
	color:#333;
	line-height:.68rem;
}
 /*原则列表 */
.yuanZeList{
	padding:0 .72rem;
	line-height:.64rem;
	font-size:.4rem;
	color:#333;
}
.yuanZeList li{
	 margin:0 .72rem;
	 float:left;
}
 /*底部二维码 */
.picErWei{
	padding-top:.48rem;
	width:3.18rem;
	margin:0 auto;
}
.picErWei span{
	font-size: .37rem;
	text-align:center;
	display:block;
	line-height:1.17rem;
}